<h1>StaticPages#about</h1>
<p>Find me in app/views/static_pages/about.html.erb</p>

<%= link_to 'Movies', movies_path %>
<%= link_to 'Actors', actors_path %>
<%= link_to 'Genres', genres_path %>
<%= link_to 'Home', static_pages_home_path %>