<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>

<%= link_to 'Movies', movies_path %>
<%= link_to 'Actors', actors_path %>
<%= link_to 'Genres', genres_path %>
<%= link_to 'About', static_pages_about_path %>